<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2021 KudProject Development
  ~ SPDX-License-Identifier: Apache-2.0
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.phone.overlay.carriersettings"
    android:versionCode="30"
    android:versionName="11">
    <application
        android:label="CarrierSettingsOverlay"
        android:hasCode="false" />

    <overlay
        android:targetPackage="com.android.phone"
        android:isStatic="true"
        android:priority="500" />
</manifest>
